html,
body {
  height: 800px;
  margin: 0px;
  padding: 0px;
  background-color: skyblue;
}

p {
  margin: 0px;
}

.header {
  position: sticky;
  height: 100px;
  background-color: whitesmoke;
  top: 0;
  z-index: 1;
}

.subHeader {
  position: relative;
  height: 30px;
  background-color: navy;
  top: 100%;
  transform: translateY(-100%);
  z-index: 1;
}

.QualityStats {
  color: navy;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.QualityStatsButton {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10%;
}

.OtherResources {
  color: navy;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.dropdown {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10%;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contentBox {
  position: relative;
  height: 100%;
  width: 600px;
}

.playerRankings {
}

.matchupBox {
  position: relative;
  height: 275px;
  width: 275px;
  float: left;
}

.judge-verlander {
  position: relative;
  height: 200px;
  width: 250px;
  object-fit: cover;
  top: 10px;
}

.prizePicksBox {
  position: relative;
  height: 275px;
  width: 275px;
  float: right;
}

.prizePicks {
  position: relative;
  height: 200px;
  width: 250px;
  object-fit: cover;
  top: 10px;
  left: 25px;
}

.prizePicksTitle {
  position: relative;
  top: 10px;
}

.bestMatchupsTitle {
  position: relative;
  top: 10px;
}

.pitcherHeader {
  position: relative;
  height: 30px;
  background-color: navy;
  top: 280px;
}

.pitcherBox1 {
  position: relative;
  height: 275px;
  width: 275px;
  float: left;
  top: 33px;
}

.ohtani {
  position: relative;
  height: 200px;
  width: 250px;
  object-fit: cover;
  top: 10px;
  right: inherit;
}

.pitcherTitle1 {
  position: relative;
}

.pitcherBox2 {
  position: relative;
  height: 275px;
  width: 275px;
  float: right;
  top: 33px;
}

.deGrom {
  position: relative;
  height: 200px;
  width: 250px;
  object-fit: cover;
  top: 10px;
  left: 25px;
}

.pitcherTitle2 {
  position: relative;
}

.hitterHeader {
  position: relative;
  height: 30px;
  background-color: navy;
  top: 550px;
}

.hitterBox1 {
  position: relative;
  height: 275px;
  width: 275px;
  float: left;
  top: 60px;
}

.judge {
  position: relative;
  height: 200px;
  width: 250px;
  object-fit: cover;
  top: 10px;
  right: inherit;
}

.hitterTitle1 {
  position: relative;
}

.hitterBox2 {
  position: relative;
  height: 275px;
  width: 275px;
  float: right;
  top: 60px;
}

.trout {
  position: relative;
  height: 200px;
  width: 250px;
  object-fit: cover;
  top: 10px;
  left: 25px;
}

.hitterTitle2 {
  position: relative;
}
