html,
body {
  height: 800px;
  margin: 0px;
  padding: 0px;
  background-color: skyblue;
}

p {
  margin: 0px;
}

.container {
  height: 100%;
  width: 100%;
}

.header {
  position: sticky;
  height: 100px;
  background-color: whitesmoke;
  top: 0;
  z-index: 1;
}

.subHeader {
  position: relative;
  height: 30px;
  background-color: navy;
  top: 100%;
  transform: translateY(-100%);
  z-index: 1;
}

.QualityStats {
  color: navy;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.QualityStatsButton {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10%;
}

.OtherResources {
  color: navy;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.dropdown {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10%;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}

.LeftCollumn {
  position: relative;
  min-width: 150px;
  max-width: 20%;
  left: 20%;
  height: 715px;
  top: -3px;
}

.pitcherRankings {
  color: whitesmoke;
  font-size: large;
}

.MatchupBox {
  position: relative;
  height: 95px;
  background-color: whitesmoke;
}

.Line1 {
  position: relative;
  height: 5px;
  background-color: navy;
  top: 5px;
}

.PrizePicksBox {
  position: relative;
  height: 95px;
  background-color: whitesmoke;
  top: 10px;
}

.PitcherRankingsHeader {
  position: relative;
  height: 50px;
  background-color: navy;
  top: 15px;
}

.PitcherBox1 {
  position: relative;
  height: 95px;
  background-color: skyblue;
  top: 25px;
}

.PitcherBox2 {
  position: relative;
  height: 95px;
  background-color: skyblue;
  top: 120px;
}

.HitterRankingsHeader {
  position: relative;
  height: 50px;
  background-color: navy;
  top: 225px;
}

.hitterRankings {
  color: whitesmoke;
  font-size: large;
}

.HitterBox1 {
  position: relative;
  height: 95px;
  background-color: skyblue;
  top: 235px;
}

.HitterBox2 {
  position: relative;
  height: 95px;
  background-color: skyblue;
  top: 330px;
}

.RightCollumn {
  position: relative;
  left: 60%;
  min-width: 150px;
  max-width: 20%;
  height: 715px;
  top: -719px;
}

.Tools {
  position: relative;
  height: 645px;
  background-color: whitesmoke;
  border-style: solid;
  border-color: navy;
  border-width: 3px;
}

.toolHeader {
  position: relative;
  height: 30px;
  background-color: navy;
}

.toolTitle {
  color: whitesmoke;
  font-size: large;
}

.contentBox {
  height: 710px;
  min-width: 500px;
  max-width: 50%;
  position: relative;
  top: 46%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.shoheiOhtani {
  position: relative;

  height: 150px;
  object-fit: cover;
}

.jacobdeGrom {
  position: relative;

  height: 150px;
  object-fit: cover;
}

.aaronJudge {
  position: relative;

  height: 150px;
  object-fit: cover;
}

.mikeTrout {
  position: relative;

  height: 150px;
  object-fit: cover;
}
